<div class="map-wrapper">
  <div class="form-group map-input">
    <input type="text" id="search-box" [(ngModel)]="searchInput" (ngModelChange)="onSearch($event)">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [animation]="'BOUNCE'">
        <agm-info-window>
            {{'USER'}}
          </agm-info-window>
    </agm-marker>
    <!--These are property markers-->
    <agm-marker [latitude]="location.property_lat" [longitude]="location.property_long"
      *ngFor="let location of properties">
      <agm-info-window>
        {{location.property_name}}
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
